@using Microsoft.AspNetCore.Identity
@inject SignInManager<Artista> SignInManager
@model IEnumerable<ProjetoEstudoMVC.Models.Musica>

<h2>Todas as músicas</h2>
@if (SignInManager.IsSignedIn(User)) 
{
    <a href="/Musicas/Ver" class="btn btn-primary">Minhas músicas</a>
} else {
    <span>Caso queira adicionar sua música na nossa plataforma, cadastre-se facilmente clicando em Register!</span>
}
<hr>

@if (Model.Count() == 0) {
    <span class="text-muted">Ops, infelizmente não temos nenhuma música cadastrada no momento.<br>
    Registre-se conosco e adicione sua música!</span>
}

@foreach (var musica in Model)
{   
    <p>Nome: @musica.Nome</p>
    <p>Gênero: @musica.Genero</p>
    <p>Artista: @musica.Artista.Nome</p>
    <hr>
}